body {
    font-family: Arial, sans-serif;
    margin: 16px;
    background: #ffffff; /* dark background */
    color: #000000; /* default text white */
}
.container {
     max-width: 1000px;
     margin: auto;
     color: #000000;
     
}
.card {
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 12px;
    border-width: 3px;
    border-radius: 8px;
    margin-bottom: 12px;
}

/* tables */
table { color: #ffffff; }
th, td { font-size: 13px }

.container h1, .container h3, .container h4, .container h5 { color: #000000 }
.header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #000000;
}